/*
Student Name Edvalter Jamba
Student Number 220446571@mycput.ac.za
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
.pnlprincipal {

   
    background-size: cover;
    height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.pnlotherslogin {
   
     
    border-radius: 15px;
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;

    
}

.second-column{
    content: "";
    position: absolute;
    background-color: #000000; opacity:0.9;
    width: 40%;
    height: auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 22%;
    left: 0;
    /*ate aqui*/
}
.second-column h2
{
    margin-top: 2%;
    color: white;
}

.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
.title-primary {
    color: rgb(255, 255, 255);
    
}
.title-second {
    color: #0d5668;
}
.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.description-primary {
    color: #fff;
}
.description-second {
    color: #0e0f0f;
}
.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}
/*bottons*/
.btn-primary {
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .5s;
}
.btn-primary:hover {
    background-color: #fff;
    color: #414242;
}


form a.password
{

    margin-top: 2px;

}

form input.btn_submit {
    background-color: #000000;
    border: 1px solid #0d5668;
    border-radius: 15px;
    transition: background-color .5s;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    width: 150px;
    cursor: pointer;
    font-weight: bold;
    align-self:center;
    border: none;
    right: 20px;
    margin-left: 40px;
    margin-top: -43x;
    
  
  
}
form input.btn_submit:hover {
    background-color: rgb(49, 46, 46);
    border: 1px solid #000000;
    color: #ffffff;
   
}
.first-content {
    display: flex;
}
.first-content .second-column {
    z-index: 11;
    
}
.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
   
}
.form {
    margin-bottom: 5%;
    background-color: rgb(39, 37, 37);opacity:0.9;
    display: flex;
    flex-direction: column;
    width: 95%;
}
.form input {
    border: 0 none;
    outline: 0;
    margin-right: 12%;
    height: 45px;
    width: 250%;
    background-color: #ecf0f1;
}
form .label
{
    font-size: 15px;
    cursor: pointer;
    align-self:center;
   
    
}
.second-column form
{
    margin-top: 3%;
}
.second-column a
{
    margin-top: -3%;
    color: white;
}
.second-column a :hover
{
    color: rgb(29, 29, 29);
}
.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}
.icon-modify {
    color: #000000;
    padding: 0 20px;
}

/* second content*/

.password {
    color: #34495e;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}
.password::first-letter {
    text-transform: capitalize;
}


/* ---------background:#a1c4fd  ;-------- Footer --------------------- */

.footer{
    text-decoration: none;
    padding: 0 2rem;
    height: 0rem;
    min-height: 4vh;

    position: relative;
    color: #ffffff;
    font-size: 10px;
    
	background: #1c3745;
    text-align: center;
}

/* ---------x------- Footer ----------x---------- */
