<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage</title>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="">Shop Homepage</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="">Add Products</a></li>
                   </ul>
                   
                    <form class="d-flex">
                        <i class="bi-person-fill me-1"></i>
                            Admin
                   </form>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shop in style</h1>
                    <p class="lead fw-normal text-white-50 mb-0">With Us</p>
                </div>
            </div>
        </header>
<!---************************************************************************-->
<div class="container" id="main-container">
   <div class="row">
     <!--Mostrar Todos Employee/When the page is loaded it will automatically display all the data in the database-->
     <div *ngFor="let product of products" class="col-md-6 col-xl-3">
        <div class="card m-b-30">
           <div class="card-body row">
              <div class="col-6">
                 <a href=""><img src="{{product?.imageUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
              </div>
              <div class="col-6 card-title align-self-center mb-0">
                 <h5>{{product?.name}}</h5>
                 <p class="m-0">{{product?.description}}</p>
              </div>
           </div>
           <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{product?.price}}</li>
           </ul>
           <div class="card-body">
              <div class="float-right btn-group btn-group-sm">
                 <a (click)="onOpenModal(product, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                 <a (click)="onOpenModal(product, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
              </div>
           </div>
        </div>
     </div>
   </div>
   </div>
   <!---************************************************************************-->





   <!--Mostrar Todos Employee-->
<div class="container px-4 px-lg-5 mt-5">
   <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
<!--From here the products are not being displayed from the database-->
               <!--Product 1 Stillstatic-->
               <div class="col mb-5">
                   <div class="card h-100">
                       <!-- Product image-->
                       <img class="card-img-top" src="assets/1.jpeg" alt="..." />
                       <!-- Product details-->
                       <div class="card-body p-4">
                           <div class="text-center">
                               <!-- Product name-->
                               <h5 class="fw-bolder">Fancy Product</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                   <div class="bi-star-fill"></div>
                                   <div class="bi-star-fill"></div>
                                   <div class="bi-star-fill"></div>
                                   <div class="bi-star-fill"></div>
                                   <div class="bi-star-fill"></div>
                               </div>
                               <!-- Product price-->
                               $40.00 - $80.00
                           </div>
                       </div>
                       <!-- Product actions-->
                       <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                           <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View</a></div>
                           <a class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                           <a class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                       </div>
                   </div>
               </div>
                <!--Product 2 Stillstatic-->
               <div class="col mb-5">
                   <div class="card h-100">
                       <!-- Sale badge-->
                       <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                       <!-- Product image-->
                       <img class="card-img-top" src="assets/1.jpeg" alt="..." />
                       <!-- Product details-->
                       <div class="card-body p-4">
                           <div class="text-center">
                               <!-- Product name-->
                               <h5 class="fw-bolder">Special Item</h5>
                               <!-- Product reviews-->
                               <div class="d-flex justify-content-center small text-warning mb-2">
                                   <div class="bi-star-fill"></div>
                                   <div class="bi-star-fill"></div>
                                   <div class="bi-star-fill"></div>
                                   <div class="bi-star-fill"></div>
                                   <div class="bi-star-fill"></div>
                               </div>
                               <!-- Product price-->
                               <span class="text-muted text-decoration-line-through">$20.00</span>
                               $18.00
                           </div>
                       </div>
                       <!-- Product actions-->
                       <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                           <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="">View</a></div>
                           <a class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                           <a class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                       </div>
                   </div>
               </div>
               <!--Product 3 Stillstatic-->
               <div class="col mb-5">
                   <div class="card h-100">
                       <!-- Sale badge-->
                       <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                       <!-- Product image-->
                       <img class="card-img-top" src="assets/1.jpeg" alt="..." />
                       <!-- Product details-->
                       <div class="card-body p-4">
                           <div class="text-center">
                               <!-- Product name-->
                               <h5 class="fw-bolder">Sale Item</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                   <div class="bi-star-fill"></div>
                                   <div class="bi-star-fill"></div>
                                   <div class="bi-star-fill"></div>
                                   <div class="bi-star-fill"></div>
                                   <div class="bi-star-fill"></div>
                               </div>
                               <!-- Product price-->
                               <span class="text-muted text-decoration-line-through">$50.00</span>
                               $25.00
                           </div>
                       </div>
                       <!-- Product actions-->
                       <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                           <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="">View</a></div>
                           <a class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                           <a class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                       </div>
                   </div>
               </div>
               <!--Product 5 Stillstatic-->
               <div class="col mb-5">
                   <div class="card h-100">
                       <!-- Product image-->
                       <img class="card-img-top" src="assets/1.jpeg" alt="..." />
                       <!-- Product details-->
                       <div class="card-body p-4">
                           <div class="text-center">
                               <!-- Product name-->
                               <h5 class="fw-bolder">Popular Item</h5>
                               <!-- Product reviews-->
                               <div class="d-flex justify-content-center small text-warning mb-2">
                                   <div class="bi-star-fill"></div>
                                   <div class="bi-star-fill"></div>
                                   <div class="bi-star-fill"></div>
                                   <div class="bi-star-fill"></div>
                                   <div class="bi-star-fill"></div>
                               </div>
                               <!-- Product price-->
                               $40.00
                           </div>
                       </div>
                       <!-- Product actions-->
                       <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                           <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="">View</a></div>
                           <a class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                           <a class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                       </div>
                   </div>
               </div>
               <!--Product 6 Stillstatic-->
               <div class="col mb-5">
                   <div class="card h-100">
                       <!-- Sale badge-->
                       <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                       <!-- Product image-->
                       <img class="card-img-top" src="assets/1.jpeg" alt="..." />
                       <!-- Product details-->
                       <div class="card-body p-4">
                           <div class="text-center">
                               <!-- Product name-->
                               <h5 class="fw-bolder">Sale Item</h5>
                               <!-- Product reviews-->
                               <div class="d-flex justify-content-center small text-warning mb-2">
                                   <div class="bi-star-fill"></div>
                                   <div class="bi-star-fill"></div>
                                   <div class="bi-star-fill"></div>
                                   <div class="bi-star-fill"></div>
                                   <div class="bi-star-fill"></div>
                               </div>
                               <!-- Product price-->
                               <span class="text-muted text-decoration-line-through">$50.00</span>
                               $25.00
                           </div>
                       </div>
                       <!-- Product actions-->
                       <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                           <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="">View</a></div>
                           <a class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                           <a class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                       </div>
                   </div>
               </div>
               <!--Product 7 Stillstatic-->
               <div class="col mb-5">
                   <div class="card h-100">
                       <!-- Product image-->
                       <img class="card-img-top" src="assets/1.jpeg" alt="..." />
                       <!-- Product details-->
                       <div class="card-body p-4">
                           <div class="text-center">
                               <!-- Product name-->
                               <h5 class="fw-bolder">Fancy Product</h5>
                               <!-- Product reviews-->
                               <div class="d-flex justify-content-center small text-warning mb-2">
                                   <div class="bi-star-fill"></div>
                                   <div class="bi-star-fill"></div>
                                   <div class="bi-star-fill"></div>
                                   <div class="bi-star-fill"></div>
                                   <div class="bi-star-fill"></div>
                               </div>
                               <!-- Product price-->
                               $120.00 - $280.00
                           </div>
                       </div>
                       <!-- Product actions-->
                       <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                           <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="">View</a></div>
                           <a class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                           <a class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                       </div>
                   </div>
               </div>
               <!--Product 8 Stillstatic-->
               <div class="col mb-5">
                   <div class="card h-100">
                       <!-- Sale badge-->
                       <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                       <!-- Product image-->
                       <img class="card-img-top" src="assets/1.jpeg" alt="..." />
                       <!-- Product details-->
                       <div class="card-body p-4">
                           <div class="text-center">
                               <!-- Product name-->
                               <h5 class="fw-bolder">Special Item</h5>
                               <!-- Product reviews-->
                               <div class="d-flex justify-content-center small text-warning mb-2">
                                   <div class="bi-star-fill"></div>
                                   <div class="bi-star-fill"></div>
                                   <div class="bi-star-fill"></div>
                                   <div class="bi-star-fill"></div>
                                   <div class="bi-star-fill"></div>
                               </div>
                               <!-- Product price-->
                               <span class="text-muted text-decoration-line-through">$20.00</span>
                               $18.00
                           </div>
                       </div>
                       <!-- Product actions-->
                       <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                           <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="">View</a></div>
                           <a class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                           <a class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                       </div>
                   </div>
               </div>
               <!--Product 9 Stillstatic-->
               <div class="col mb-5">
                   <div class="card h-100">
                       <!-- Product image-->
                       <img class="card-img-top" src="assets/1.jpeg" alt="..." />
                       <!-- Product details-->
                       <div class="card-body p-4">
                           <div class="text-center">
                               <!-- Product name-->
                               <h5 class="fw-bolder">Popular Item</h5>
                               <!-- Product reviews-->
                               <div class="d-flex justify-content-center small text-warning mb-2">
                                   <div class="bi-star-fill"></div>
                                   <div class="bi-star-fill"></div>
                                   <div class="bi-star-fill"></div>
                                   <div class="bi-star-fill"></div>
                                   <div class="bi-star-fill"></div>
                               </div>
                               <!-- Product price-->
                               $40.00
                           </div>
                       </div>
                       <!-- Product actions-->
                       <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                           <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="">View</a></div>
                           <a class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                           <a class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                       </div>
                   </div>
               </div>
           </div>
       </div>
        <!-- Section
        <section class="py-5">

        </section>-->
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Shop Homepage 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
